{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<hr />

<div class="row"> 
     <div class="col-md-6">
<h3>Edit a Category.</h3>

        <form action="demo_form.asp">

            <div class="container">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        Categories
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category 1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category 2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category 3</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category 4</a></li>
                    </ul>
                </div>
            </div>
        </form> 
    
    
    <h4>Associated Items</h4>
    <form action="demo_form.asp">
        <p>
            {%if items|length > 0 %}
            <select multiple size= "5" name="add_items[]">
            {% for it in items %}
            <option value="{{it.key}}">{{it.name}}</option>
            {% endfor %}
            </select>
            <br><br>
            {% endif %}
        </p>
    </form>

    </div>
    
    <div class="col-md-6">

<h3>Edit an Item.</h3>

    <form action="demo_form.asp">
        <div class="container">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Items
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
                </ul>
            </div>
        </div>
    </form>
    
    
    <h4>Associated Businesses</h4>
        <form action="demo_form.asp">
            <p>
                {%if businesses|length > 0 %}
                <select multiple size= "5" name="add_businesses[]">
                {% for bus in businesses %}
                <option value="{{bus.key}}">{{bus.name}}</option>
                {% endfor %}
                </select>
                <br><br>
                {% endif %}
            </p>

            {% for p in persons %}
            <input type="checkbox" name="person" value="{{p}}"/> {{p}}

            <br />
            {% endfor %}
            <input type="submit" class="btn btn-info btn-xs" btn value="Submit" value="Choose">

        </form>

    </div>


</div> 



    
       




        {% endblock %}
